* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #F75D13;
    --main-color: #69140E;
    --key-red: #be0521;
    --key-yellow: #fde74c;
    --key-green: #04F06A;
}

body {
    background-color: var(--bg-color);
    font-family: "Mitr", sans-serif;
    text-align: center;
    width: 100dvw;
    height: 100dvh;
}

header {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100dvw;
    gap: 5.625rem;
}

#stats-display {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 1.25rem;
    justify-content: center;
}

.stats-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    height: 100%;
}

.stats-bar {
    height: 100%;
    width: 5rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.fill-wrapper {
    display: flex;
    transform-origin: bottom;
    flex-direction: column-reverse;
    background-color: hsla(146, 97%, 48%, 0.300);
    width: 100%;
    height: 92%;
}

.stats-bar-fill {
    display: flex;
    transform-origin: bottom;
    flex-direction: column-reverse;
    background-color: var(--key-green);
    width: 100%;
    height: 100%;
    transform: scaleY(0%);
    transition: all 1s;
}

.bar-title {
    position: absolute;
    align-self: flex-end;
    margin-bottom: 2rem;
    z-index: 999;
    font-weight: 900;
    text-shadow: 0.0625rem 0.0625rem 0.0625rem var(--main-color);
}

#stats-data-wrapper {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: space-evenly;
}

.data-stats {
    display: flex;
    opacity: 0;
    visibility: hidden;
    flex-direction: column;
    background-color: #04F06A;
    padding: 0.625rem;
    border-radius: 0.3125rem;
    width: 9.375rem;
    align-items: center;
    justify-content: center;
    gap: 0.3125rem;
    color: white;
    transition: all .3s;
    transform: translateY(10px);
}

.data-stats.active {
    display: flex;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.data-number {
    font-size: 2.5rem;
    font-weight: 700;
    text-shadow: 0.125rem 0.125rem 0.0625rem var(--main-color);
    transform: scale(0);
    transition: all .5s;
}

.data-number.active {
    animation-name: pop;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

@keyframes pop {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

.data-title {
    font-weight: 900;
    color: var(--main-color);
    
}

#stats-message {
    background-color: #69140e3f;
    backdrop-filter: blur(2px);
    position: absolute;
    top: 0px;
    z-index: 9998;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

button.modal-opener {
    margin-top: 0.625rem;
    z-index: 9998;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.125rem solid var(--main-color);
    border-radius: 20%;
    color: var(--main-color);
    transition: all .2s;
}

button.modal-opener:hover {
    cursor: pointer;
    background-color: var(--main-color);
    color: white;
}

#screen {
    display: none;
    height: 100dvh;
    position: absolute;
    width: 100dvw;
    z-index: 9998;
}

#instructions-wrapper, #stats-wrapper {
    display: none;
    background-color: #69140e83;
    z-index: 9999;
    position: absolute;
    width: 100dvw;
    height: 100dvh;
    justify-content: center;
    align-items: center;
}

#instructions, #stats {
    background-color: var(--main-color);
    position: relative;
    color: white;
    min-width: 60dvw;
    z-index: 9999;
    display: flex;
    margin-bottom: 11.25rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.875rem 2.1875rem 0.625rem 2.1875rem;
    border-radius: 0.625rem;
    box-shadow: 0rem 0rem 0.3125rem #000000a4;
    font-family: 'Roboto', sans-serif;
    gap: 1.25rem;
}

#stats {
    justify-content: flex-start;
    height: 31.25rem;
    gap: 1.5625rem;
    margin-bottom: 4rem;
    padding-bottom: 1rem;
    position: relative;
    overflow: hidden;
}

#stats p {
    font-size: 1rem;
}

#paulo {
    margin-top: 0.9375rem;
    font-size: 0.6875rem;
}

#paulo a {
    text-decoration: none;
    color: var(--key-green);
    font-weight: 700;
}

#paulo a:hover{
    cursor: pointer;
    text-decoration: underline;
}

#instructions > p {
    margin-bottom: 0.625rem;
}

.instruction-wrapper {
    display: flex;
    flex-direction: column;
    pointer-events: none;
    align-items: center;
    justify-content: center;
    gap: 1.25rem;
    height: 12.5rem;
    width: fit-content;
}

#instructions svg, #stats svg {
    position: absolute;
    top: 0.625rem;
    right: 0.9375rem;
    z-index: 9999;
}

#instructions svg:hover, #stats svg:hover {
    cursor: pointer;
}

#this {
    align-items: flex-start;
    justify-content: space-around;
    text-align: justify;
}

#instruction-wrapper {
    margin-top: 0.3125rem;
    display: flex;
    gap: 2.5rem;
}

.letterInstructions {
    width: 3.4375rem;
    height: 3.4375rem;
    border-radius: 0.375rem;
    font-size: 2.1875rem;
    color: white;
    font-weight: 600;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#result-wrapper {
    position: absolute;
    background-color: #69140e83;
    width: 100dvw;
    height: 100dvh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 99999;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s;
}

#result-display {
    background-color: var(--main-color);
    font-family: 'Roboto', sans-serif;
    padding: 1.75rem;
    padding-bottom: 0.80rem;
    border-radius: 0.625rem;
    min-width: 60%;
    margin-bottom: 9.375rem;
    min-height: 12.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0rem 0rem 0.3125rem #000000a4;
    z-index: 999;
}

#result-wrapper h1, strong {
    color: #04F06A;
}

#result-wrapper h2 {
    margin-top: 1.25rem;
    color: white;
    margin-bottom: 1.875rem;
}

#game-data {
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

#data {
    display: flex;
    justify-content: center;
    gap: 3.125rem;
    align-items: center;
}

#hidden-text {
    position: absolute;
    left: -9999px;
}

#copyGame {
    font-family: sans-serif;
    background-color: var(--key-green);
    color: white;
    font-weight: bolder;
    text-shadow: 0.0625rem 0.0625rem 0.0625rem #69140e47;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    border: none;
    font-size: 1rem;
    padding: 1rem 1rem;
    gap: 0.625rem;
    border-radius: 0.3125rem;
    transition: all .3s;
    position: relative;
    white-space: nowrap;
}

#copyGame.active {
    scale: 1.01;
}

#copied {
    font-size: 1rem;
    bottom: 110%;
    position: absolute;
    display: none;
    opacity: 0;
    transform: translateY(0.625rem);
    transition: opacity 0.3s, transform 0.3s;
}

#copied.active {
    display: block;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

#copied.deactive {
    display: block;
    transform: translateY(0.625rem);
}

#copyGame:hover {
    background-color: #04c758;
    cursor: pointer;
}

#copyGame.lose {
    background-color: var(--key-red);
}

#copyGame.lose:hover {
    cursor: pointer;
    background-color: #9e031a;
}

#time {
    display: flex;
    flex-direction: column;
    padding: 0.625rem;
    gap: 0.3125rem;
    color: var(--key-green);
    font-weight: 600;
    white-space: nowrap;
}

#time.lose {
    color: var(--key-red);
}

#display-time {
    font-weight: 700;
    color: white;
    font-size: 1.875rem;
}

img, #repository-link {
    width: 7.0rem;
    height: 4rem;
    margin-bottom: 0.625rem;
    place-self: center;
}

#repository-link {
    z-index: 9998;
}

#div-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}

.row {
    height: 3.4375rem;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    gap: 0.125rem;
}

.letter {
    width: 3.4375rem;
    height: 3.4375rem;
    border-radius: 0.375rem;
    border: 0.1875rem solid var(--main-color);
    font-size: 2.1875rem;
    color: white;
    font-weight: 600;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border .1s, scale .2s, background 1s;
}

.deactive {
    background-color: var(--main-color);
    opacity: 60%;
}

#keyboard {
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 1.875rem;
    gap: 0.625rem;
    flex-direction: column;
    width: 100dvw;
}

.key {
    height: 8dvh;
    width: 5dvw;
    border-radius: 0.375rem;
    background-color: var(--main-color);
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    pointer-events: none;
    transition: background 0.2s, scale 0.1s;
}

.key.active {
    pointer-events: all;
}

.key.active:hover {
    background-color: var(--key-red);
}

.greenkey {
    background-color: var(--key-green);
}

.greenkey.active:hover {
    background-color: #04c758;
}

.keyboardrow {
    display: flex;
    gap: 0.3125rem;
}

.special {
    margin-left: 0.9375rem;
    max-width: 5rem;
}

#enter {
    width: 10dvw;
    padding: 0rem 0.625rem;
}

.key:active {
    scale: 0.95;
}

.invalidWord {
    animation-name: invalidWord;
    animation-duration: .6s;
    animation-timing-function: ease-in;
    transition: invalidWord .2s;
}

@keyframes invalidWord {
    0% {
        transform: translateX(0);
    }
    10% {
        transform: translateX(-10px);
    }
    20% {
        transform: translateX(10px);
    }
    30% {
        transform: translateX(-8px);
    }
    40% {
        transform: translateX(8px);
    }
    50% {
        transform: translateX(-6px);
    }
    60% {
        transform: translateX(6px);
    }
    70% {
        transform: translateX(-4px);
    }
    80% {
        transform: translateX(4px);
    }
    90% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(0);
    }
}

@media (max-width: 395px) {
    #result-display h1 {
        font-size: 1.7rem;
    }

    #result-display h2 {
        font-size: 1.2rem;
    }

    #copyGame {
        font-size: 0.8rem;
    }

    #time {
        font-size: 0.8rem;
    }

    #display-time {
        font-size: 1.5rem;
    }

    #stats {
        margin-bottom: 8rem;
    }

    .stats-bar {
        max-width: 2rem;
    }

    .stats-title {
        font-size: 0.6rem;
    }

    .data-stats {
        max-width: 5rem;
        margin-bottom: 0.4rem;
    }

    .data-number {
        font-size: 1.5rem;
    }

    .data-title {
        font-size: 0.6rem;
    }

    #stats p {
        font-size: 0.625rem;
    }
}

@media (max-width: 481px) { 

    header {
        justify-content: space-between;
        padding: 0 0.625rem;
    }

    #instructions, #stats {
        width: 95dvw;
        padding: 2.5rem 1.25rem 0.9375rem 1.25rem;
    }

    #instruction-wrapper, #stats-wrapper {
        width: 100%;
        gap: 1.25rem;
        justify-content: center;
    }

    #instruction-wrapper {
        width: 80%;
    }

    .instruction-wrapper p {
        letter-spacing: -0.07rem;
    }

    #this {
        text-align: justify;
        font-size: 1rem;
        justify-content: space-evenly;
    }

    #result div {
        margin-bottom: 11.25rem;
        height: 35%;
        width: 75%;
    }

    img, #repository-link {
        width: 7.5rem;
        height: 4.625rem;
        margin-bottom: 0.625rem;
    }

    #div-wrapper {
        margin-top: 0.9375rem;
    }

    .row {
        height: 15dvw;
    }

    .letter {
        width: 15dvw;
        height: 100%;
        font-size: 2.625rem;
    }

    #keyboard {
        width: 100dvw;
        margin: auto;
        margin-bottom: 0.9375rem;
        font-size: 0.9375rem;
        position: absolute;
        bottom: 0;
    }

    .keyboardrow {
        width: 90%;
        margin: auto;
        justify-content: center;
    }

    .key {
        min-width: 10%;
        min-height: 4.375rem;
    }

    .special {
        font-size: 0.875rem;
        margin-left: 0.3125rem;
    }

    #enter {
        max-width: 3.75rem;
    }
    
    #result-display {
        max-width: 90%;
        justify-content: center;
        gap: 1.075rem;
        height: 40%;
    }

    #time {
        max-width: 50%;
    }

    #data {
        gap: 0.9375rem;
    }

    #data button {
        height: 5rem;
        max-width: 50%;
    }

    #stats {
        margin-bottom: 9.375rem;
    }

    .stats-bar {
        max-width: 2.3rem;
    }

    .stats-title {
        font-size: 0.7rem;
    }

    .data-stats {
        max-width: 6rem;
        margin-bottom: 0.4375rem;
    }

    .data-number {
        font-size: 2rem;
    }

    .data-title {
        font-size: 0.8rem;
    }

    .key {
        min-width: 8dvw;
        min-height: 8dvh;
        max-width: 8dvw;
        max-height: 8dvh;
    }

    #stats p {
        font-size: 0.8rem;
    }

    #stats-message h3{
        width: 80%;
    }

}

@media (max-width: 676px) and (min-width: 482px) {
    .key {
        min-width: 8dvw;
        min-height: 8dvh;
        max-width: 8dvw;
        max-height: 8dvh;
    }

    #enter {
        min-width: 15dvw;
    }

    #instructions, #stats {
        width: 90%;
        margin-top: 8%;
    }

    #instructions h2 {
        margin-top: 4%;
    }

    .stats-bar {
        width: 3.125rem;
    }

    .stats-title {
        font-size: 0.8125rem;
    }

    .data-stats {
        width: 6.25rem;
    }

    .data-number {
        font-size: 2.2rem;
    }

    .data-title {
        font-size: 0.9rem;
    }
}

@media (min-height: 700px) and (min-width: 1360px) {

    img, #repository-link {
        width: 8.125rem;
        height: 5.025rem;
    }

    .row {
        height: 4.375rem;
    }

    .letter {
        width: 4.375rem;
        height: 4.375rem;
        font-size: 2.8125rem;
    }

    .key {
        width: 4.375rem;
        height: 4.375rem;
    }

    #enter {
        width: 5.625rem;
    }
}
