#result-wrapper {
    position: absolute;
    background-color: #69140e83;
    width: 100dvw;
    height: 100dvh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 99999;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s;
}

#result-display {
    background-color: var(--main-color);
    font-family: 'Roboto', sans-serif;
    padding: 1.75rem;
    padding-bottom: 0.80rem;
    border-radius: 0.625rem;
    min-width: 60%;
    margin-bottom: 9.375rem;
    min-height: 12.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0rem 0rem 0.3125rem #000000a4;
    z-index: 999;
}

#result-wrapper h1, strong {
    color: #04F06A;
}

#result-wrapper h2 {
    margin-top: 1.25rem;
    color: white;
    margin-bottom: 1.875rem;
}

#game-data {
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

#data {
    display: flex;
    justify-content: center;
    gap: 3.125rem;
    align-items: center;
}

#hidden-text {
    position: absolute;
    left: -9999px;
}

#copyGame {
    font-family: sans-serif;
    background-color: var(--key-green);
    color: white;
    font-weight: bolder;
    text-shadow: 0.0625rem 0.0625rem 0.0625rem #69140e47;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    border: none;
    font-size: 1rem;
    padding: 1rem 1rem;
    gap: 0.625rem;
    border-radius: 0.3125rem;
    transition: all .3s;
    position: relative;
    white-space: nowrap;
}

#copyGame.active {
    scale: 1.01;
}

#copied {
    font-size: 1rem;
    bottom: 110%;
    position: absolute;
    display: none;
    opacity: 0;
    transform: translateY(0.625rem);
    transition: opacity 0.3s, transform 0.3s;
}

#copied.active {
    display: block;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

#copied.deactive {
    display: block;
    transform: translateY(0.625rem);
}

#copyGame:hover {
    background-color: #04c758;
    cursor: pointer;
}

#copyGame.lose {
    background-color: var(--key-red);
}

#copyGame.lose:hover {
    cursor: pointer;
    background-color: #9e031a;
}

#time {
    display: flex;
    flex-direction: column;
    padding: 0.625rem;
    gap: 0.3125rem;
    color: var(--key-green);
    font-weight: 600;
    white-space: nowrap;
}

#time.lose {
    color: var(--key-red);
}

#display-time {
    font-weight: 700;
    color: white;
    font-size: 1.875rem;
}